.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform $effectDuration;

  @include on-tablet {
    height: 32px;
    width: 32px;

    &:hover {
      transform: scale(1.3);
    }
  }

  &--phone {
    background-image: url(../icons/icon_phone_call.png);

    &:hover + .top-bar__phone {
      transition: transform $effectDuration;

      @include on-desktop {
        transform: translate(8px, -50%) scale(1.03);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--menu {
    background-image: url(../icons/icon-_burger_menu.png);

    &:hover {
      background-image: url(../icons/icon_burger_menu_hover.png);
      transform: scale(1.3);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.png);
  }
}
