.museum-hours {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 /4;
    }

    @include on-desktop {
      grid-column: 1 /6;
    }
  }

  &__style {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 27px;
    font-size: 16px;
  }
  &--container {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }
  }
}
