$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.5s;
$main-text-color: #161616;
$second-main-text-color: #d12d35;
$secondary-text-color: #fff;
$placeholder-bg-color: #f8f8fa;
$placeholder-button-hover: #ae1c23;
$placeholder-button-pressed: #eb343d;
$placeholder-hover: #d5d7de;
$fallback-color: #0a0a0a;
